<!--Login-->
<div class="tab-pane active" id="login">
  <h3>Логин</h3>
  <p class="text-muted">Зайдите в свой аккаунт</p>

  <!--Login Form-->
  <form
    id='Login_form'
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
  >
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="my-email" class="sr-only">Email</label>
        <input
          id="my-email"
          class="form-control input-group-lg"
          type="text"
          name="email"
          title="Введите Email"
          placeholder="Ваш Email"
          formControlName="email"
          [class.form-invalid] = "form.get('email').invalid && form.get('email').touched"
          [class.form-valid] = "form.get('email').valid && form.get('email').touched"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="my-password" class="sr-only">Пароль</label>
        <input
          id="my-password"
          class="form-control input-group-lg"
          type="password"
          name="password"
          title="Введите пароль"
          placeholder="Пароль"
          formControlName="password"
          [class.form-invalid] = "form.get('password').invalid && form.get('password').touched"
          [class.form-valid] = "form.get('password').valid && form.get('password').touched"
        />
        <p *ngIf="form.get('password').invalid && form.get('password').touched">
          <span *ngIf="form.get('password').errors['lengthError']" style="color: red">Пароль не может быть меньне {{minLength}} и больше {{maxLength}} символов!</span>
        </p>
      </div>
    </div>
  </form><!--Login Form Ends-->
  <p><a href="#">Забыли пароль?</a></p>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    Войти
  </button>
</div>
