<!--Login-->
<div class="tab-pane active" id="login">
  <h3>Логин</h3>
  <p class="text-muted">Зайдите в свой аккаунт</p>

  <!--Login Form-->
  <form name="Login_form" id='Login_form'>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="my-email" class="sr-only">Email</label>
        <input id="my-email" class="form-control input-group-lg" type="text" name="Email" title="Введите Email" placeholder="Ваш Email"/>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="my-password" class="sr-only">Пароль</label>
        <input id="my-password" class="form-control input-group-lg" type="password" name="password" title="Введите пароль" placeholder="Пароль"/>
      </div>
    </div>
  </form><!--Login Form Ends-->
  <p><a href="#">Забыли пароль?</a></p>
  <button class="btn btn-primary">Войти</button>
</div>
