<!--Registration-->
<div id="register">
  <h4>Зарегестрироваться сейчас!</h4>
  <!--Register Form-->
  <form id='registration_form' class="form-inline" [formGroup]="form">
    <div class="row">
      <div class="form-group col-xs-6">
        <mat-form-field>
          <input
            matInput
            id="firstname"
            class="form-control input-group-lg"
            type="text"
            name="firstname"
            title="Введите имя"
            placeholder="Имя"
            formControlName="firstname"
            [class.form-invalid] = "form.get('firstname').invalid && form.get('firstname').touched"
            [class.form-valid] = "form.get('firstname').valid && form.get('firstname').touched"
          />
        </mat-form-field>
      </div>
      <div class="form-group col-xs-6 padleft">
        <mat-form-field>
        <input
          matInput
          id="lastname"
          class="form-control input-group-lg"
          type="text"
          name="lastname"
          title="Введите фамилию"
          placeholder="Фамилия"
          formControlName="lastname"
          [class.form-invalid] = "form.get('lastname').invalid && form.get('lastname').touched"
          [class.form-valid] = "form.get('lastname').valid && form.get('lastname').touched"
        />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="email" class="sr-only">Email</label>
        <mat-form-field class="widthmax">
        <input
          matInput
          id="email"
          type="text"
          name="email"
          title="Введите Email"
          placeholder="Ваш Email"
          formControlName="email"
          [class.form-invalid] = "form.get('email').invalid && form.get('email').touched"
          [class.form-valid] = "form.get('email').valid && form.get('email').touched"
        />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <mat-form-field class="widthmax">
          <input
            matInput
            id="password"
            type="password"
            name="password"
            title="Введите пароль"
            placeholder="Пароль"
            formControlName="password"
            [class.form-invalid] = "form.get('password').invalid && form.get('password').touched"
            [class.form-valid] = "form.get('password').valid && form.get('password').touched"
          />
          <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
            <mat-error *ngIf="form.get('password').errors['lengthError']" style="color: red">Пароль не может быть меньше {{minLength}} и больше {{maxLength}} символов!</mat-error>
          </mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <p class="birth"><strong>Дата рождения</strong></p>
      <!--<div class="form-group col-sm-3 col-xs-6">-->
        <!--<label for="day" class="sr-only"></label>-->
        <!--<select-->
          <!--class="form-control"-->
          <!--id="day"-->
          <!--formControlName="day"-->
        <!--&gt;-->
          <!--<option value="" disabled selected>День</option>-->
          <!--<option *ngFor="let day of days" value="{{ day }}">{{ day }}</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--<div class="form-group col-sm-4 col-xs-6">-->
        <!--<label for="month" class="sr-only"></label>-->
        <!--<select-->
          <!--class="form-control"-->
          <!--id="month"-->
          <!--(change)="onChange($event)"-->
          <!--formControlName="month"-->
        <!--&gt;-->
          <!--<option value="" disabled selected>Месяц</option>-->
          <!--<option *ngFor="let date of dates" value="{{date.type}}">{{ date.name }}</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--<div class="form-group col-sm-5 col-xs-12">-->
        <!--<label for="year" class="sr-only"></label>-->
        <!--<select-->
          <!--class="form-control"-->
          <!--id="year"-->
          <!--formControlName="year"-->
        <!--&gt;-->
          <!--<option value="" disabled selected>Год</option>-->
          <!--<option *ngFor="let year of years" [value]="year">{{ year }}</option>-->
        <!--</select>-->
      <!--</div>-->
      <app-custom-date-picker label="Выберите дату" [(ngModel)]="chosenDate" formControlName="day_month"></app-custom-date-picker>
      <app-custom-date-picker mode=true label="Выберите год" [(ngModel)]="chosenYearDate" [min]="1950" [max]="2005" formControlName="year"></app-custom-date-picker>
    <div class="row">
      <p class="birth"><strong>Пол</strong></p>
      <div class="form-group gender">
        <label class="radio-inline">
          <input type="radio" name="gender" value="man" formControlName="gender">Мужчина
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" value="women" formControlName="gender">Женщина
        </label>
      </div>
    </div>
    </div>

  </form><!--Register Now Form Ends-->
  <button
    type="submit"
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="form.invalid"
  >
    Зарегестрироваться сейчас
  </button>
</div>
