<!--Registration-->
<div class="tab-pane" id="register">
  <h3>Зарегестрироваться сейчас!</h3>
  <p class="text-muted">Присоединяйтесь сегодня!</p>

  <!--Register Form-->
  <form id='registration_form' class="form-inline" [formGroup]="form">
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="firstname" class="sr-only">Имя</label>
        <input
          id="firstname"
          class="form-control input-group-lg"
          type="text"
          name="firstname"
          title="Введите имя"
          placeholder="Имя"
          formControlName="firstname"
          [class.form-invalid] = "form.get('firstname').invalid && form.get('firstname').touched"
          [class.form-valid] = "form.get('firstname').valid && form.get('firstname').touched"
        />
      </div>
      <div class="form-group col-xs-6">
        <label for="lastname" class="sr-only">Фамилия</label>
        <input
          id="lastname"
          class="form-control input-group-lg"
          type="text"
          name="lastname"
          title="Введите фамилию"
          placeholder="Фамилия"
          formControlName="lastname"
          [class.form-invalid] = "form.get('lastname').invalid && form.get('lastname').touched"
          [class.form-valid] = "form.get('lastname').valid && form.get('lastname').touched"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="email" class="sr-only">Email</label>
        <input
          id="email"
          class="form-control input-group-lg"
          type="text"
          name="email"
          title="Введите Email"
          placeholder="Ваш Email"
          formControlName="email"
          [class.form-invalid] = "form.get('email').invalid && form.get('email').touched"
          [class.form-valid] = "form.get('email').valid && form.get('email').touched"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <label for="password" class="sr-only">Пароль</label>
        <input
          id="password"
          class="form-control input-group-lg"
          type="password"
          name="password"
          title="Введите пароль"
          placeholder="Пароль"
          formControlName="password"
          [class.form-invalid] = "form.get('password').invalid && form.get('password').touched"
          [class.form-valid] = "form.get('password').valid && form.get('password').touched"
        />
        <p *ngIf="form.get('password').invalid && form.get('password').touched">
          <span *ngIf="form.get('password').errors['lengthError']" style="color: red">Пароль не может быть меньне {{minLength}} и больше {{maxLength}} символов!</span>
        </p>
      </div>
    </div>
    <div class="row">
      <p class="birth"><strong>Дата рождения</strong></p>
      <div class="form-group col-sm-3 col-xs-6">
        <label for="day" class="sr-only"></label>
        <select class="form-control" id="day">
          <option value="day" disabled selected>День</option>
          <option *ngFor="let day of days">{{ day }}</option>
        </select>
      </div>
      <div class="form-group col-sm-4 col-xs-6">
        <label for="month" class="sr-only"></label>
        <select class="form-control" id="month" (change)="onChange($event)">
          <option value="month" disabled selected>Месяц</option>
          <option *ngFor="let date of dates" value="{{date.type}}">{{ date.name }}</option>
        </select>
      </div>
      <div class="form-group col-sm-5 col-xs-12">
        <label for="year" class="sr-only"></label>
        <select class="form-control" id="year">
          <option value="year" disabled selected>Год</option>
          <option *ngFor="let year of years">{{ year }}</option>
        </select>
      </div>
    </div>
    <div class="form-group gender">
      <label class="radio-inline">
        <input type="radio" name="optradio" checked>Мужчина
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio">Женщина
      </label>
    </div>
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="city" class="sr-only">Город</label>
        <input id="city" class="form-control input-group-lg reg_name" type="text" name="city" title="Enter city"
               placeholder="Ваш город"/>
      </div>
      <div class="form-group col-xs-6">
        <label for="country" class="sr-only"></label>
        <select class="form-control" id="country">
          <option value="country" disabled selected>Страна</option>
          <option value="AFG">Afghanistan</option>
          <option value="ALA">land Islands</option>
          <option value="ALB">Albania</option>
        </select>
      </div>
    </div>
  </form><!--Register Now Form Ends-->
  <p><a href="#">Уже зарегестрированы?</a></p>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="onSubmit()"
    [disabled]="form.invalid"
  >
    Зарегестрироваться сейчас
  </button>
</div>
