<!--Registration-->
<div id="register">
  <h4>Зарегестрироваться сейчас!</h4>
  <!--Register Form-->
  <form id='registration_form' class="form-inline" [formGroup]="form">
    <div class="register_name">
      <div class="name">
        <mat-form-field>
          <input
            size="10"
            matInput
            id="firstname"
            class="form-control input-group-lg"
            type="text"
            name="firstname"
            title="Введите имя"
            placeholder="Имя"
            formControlName="firstname"
            [class.form-invalid] = "form.get('firstname').invalid && form.get('firstname').touched"
            [class.form-valid] = "form.get('firstname').valid && form.get('firstname').touched"
          />
        </mat-form-field>
      </div>
      <div class="last_name">
        <mat-form-field>
        <input
          matInput
          id="lastname"
          class="form-control input-group-lg"
          type="text"
          name="lastname"
          title="Введите фамилию"
          placeholder="Фамилия"
          formControlName="lastname"
          [class.form-invalid] = "form.get('lastname').invalid && form.get('lastname').touched"
          [class.form-valid] = "form.get('lastname').valid && form.get('lastname').touched"
        />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <mat-form-field class="widthmax">
        <input
          matInput
          id="email"
          type="text"
          name="email"
          title="Введите Email"
          placeholder="Ваш Email"
          formControlName="email"
          [class.form-invalid] = "form.get('email').invalid && form.get('email').touched"
          [class.form-valid] = "form.get('email').valid && form.get('email').touched"
        />
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <mat-form-field class="widthmax">
          <input
            matInput
            id="password"
            type="password"
            name="password"
            title="Введите пароль"
            placeholder="Пароль"
            formControlName="password"
            [class.form-invalid] = "form.get('password').invalid && form.get('password').touched"
            [class.form-valid] = "form.get('password').valid && form.get('password').touched"
          />
          <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
            <mat-error *ngIf="form.get('password').errors['lengthError']" style="color: red">Пароль не может быть меньше {{minLength}} и больше {{maxLength}} символов!</mat-error>
          </mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <p class="birth"><strong>Дата рождения</strong></p>
      <app-custom-date-picker label="Выберите дату" [(ngModel)]="chosenDate" formControlName="day_month"></app-custom-date-picker>
      <app-custom-date-picker tabindex="-1" mode="YEAR" label="Выберите год" [(ngModel)]="chosenYearDate" [min]="1950" [max]="2005" formControlName="year"></app-custom-date-picker>
    <div class="gender">
      <p class="gender-title"><strong>Пол</strong></p>
      <div class="gender-radio">
        <mat-radio-group formControlName="gender">
          <mat-radio-button value="man" class="gender-button">Мужской</mat-radio-button>
          <mat-radio-button value="woman">Женский</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    </div>

  </form><!--Register Now Form Ends-->
  <button
    type="submit"
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="form.invalid"
  >
    Зарегестрироваться сейчас
  </button>
</div>
