<div class="wrapper">
  <div class="wrap">
    <header class="header">
      <div class="layout layout-header">
        <div class="navbar-brand"><img src="assets/images/logo.png" alt="logo"/></div>
      </div>
    </header>
    <main class="main layout layout-big ">
      <aside class="authorization">
        <div class="login">
          <mat-card>
            <mat-card-content>
              <app-login></app-login>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="registration">
          <mat-card class="tab-pane">
            <mat-card-content>
              <app-register></app-register>
            </mat-card-content>
          </mat-card>
        </div>
      </aside>
      <section class="content">
        <h2 class="text-white">Найдите новых друзей!</h2>
        <p>Friend Finder это социальная сеть для общения между людьми по всему миру. Вы сможете общатся,
          обмениваться
          фото и видео и быть вкурсе о интересных людях. <br/>
      </section>
    </main>
  </div>
  <!--<footer class="footer">-->
    <!--<div class="footer-text layout">Footer</div>-->
  <!--</footer>-->

</div>
