@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

.ng-star-inserted {
  height: 100%;
}

.wrapper {
  background-color: #FCFBFB;
  height: 100%;
}

.header {
  position: relative;
  z-index: 10;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
  background-color: #6b0083;
  margin-bottom: 30px;
}

.layout {
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.layout-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.layout-big {
  display: flex;
  flex-direction: row-reverse;
}

.authorization {
  width: 420px;
}

.login {
  width: 100%;
}

.registration {
  display: block;
  margin-top: 30px;
  width: 100%;
}

.content {
  width: calc(100% - 420px);
}
.main {
  min-height: 85.5%;
}

.main:after {
  content: '';
  display: block;
}
.main:after, .footer {
  background-color: #AE7F7F;
  padding: 20px 0;
}

.footer-text {
  font-size: 20px;
  margin: auto;
}

.mat-calendar-period-button {
  pointer-events: none!important;
}
.mat-calendar-arrow {
  display: none!important;
}

.link {
  text-decoration: none;
  color: #3e77aa;
  display: block;
  margin-bottom: 6px;
}

.link:hover {
  color: #fd8e9a;
  text-decoration: underline;
}

.register_name {
  display: flex;
  flex-direction: row;
}

.name {
  padding-right: 13px;
}